@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --card-title:var(--card-title)
}

:root {
  --radius: 0.625rem;
  --background: oklch(99.405% 0.00011 271.152);
  --foreground:  oklch(25.799% 0.06706 149.185);/**/
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(100% 0.00011 271.152);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(98.511% 0.00011 271.152);
  --secondary: oklch(58.117% 0.11689 165.691);/*nav bg*/
  --secondary-foreground: oklch(18.338s% 0.00163 16.6);/*nav text*/
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --backgroundmain:red;
   --body-background: rgb(66, 182, 143);
   --body-background-2: rgb(187, 183, 183);
   --card-background:red;
   --card-edge:rgb(35, 23, 23);
  --text-body:black;
  --text-head:black;
  --glowx:rgb(26, 66, 46);
  --card-title:rgb(8, 245, 75);
  
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary:  oklch(58.117% 0.11689 165.691);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

   --background-main:rgb(45, 38, 38);
   /* --body-background: rgb(45, 38, 38); */
   --body-background-2: rgb(45, 38, 38);
   --card-background:red;
   --card-edge:white;
  --text-body:black;
  --text-head:black;
  --glowx:rgb(29, 88, 49);
  --card-title:white;

  
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  }
  body {
    @apply bg-background text-foreground;
  }
  
}

/**/
.btn1{
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.btn1:hover{
  box-shadow: 0 0 3px var(--primary-foreground) ;
}
body {
  font-family: 'Public Sans Variable', sans-serif;
}

h1{
  color:var(--);

}
h1, h2 {
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h4 {
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-size: clamp(3rem, 6rem, 6rem);
}
.container {
  position:relative;
  margin-left : auto;
  margin-right: auto;
  margin: 0 auto;
  max-width: 1280px;
  width:100%;
  height:100%;
  min-height: 100svh;
   
  background-color: var(--background);

  box-shadow:  0px 0px 3px rgba(211, 211, 211, 0.345)

  
}
.c2 {
  margin: 0 auto;
  background-color: var(--body-background); 
  box-shadow:  0px 0px 3px rgb(131, 131, 131)
}
 .glow-nav  {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
   padding: 2px;
   padding-left: 10px;
   padding-right: 10px;
  border-radius: 2rem;

}

.glow-nav:hover {
  box-shadow: 0 2px 15px var(--glowx);
  transform: scale(1.05);
}

/* text-box and image-box*/
.text-box {
  
  flex: 1 1 0;
  max-width: 65ch;

  margin-left: clamp(1rem, 5vw, 6rem);
  margin-right: auto;


  font-size: clamp(1rem, 1.1vw, 1.125rem);



}
.image-box {
  margin-top: 2rem;
  margin-bottom: 1rem;;
  flex: 0 1 520px;
  max-width: 520px;
  aspect-ratio: 4 / 3;

  margin-right: clamp(1rem, 5vw, 6rem);
  margin-left: auto;

  position: relative;
}
@media (max-width: 900px) {
  section {
    flex-direction: column;
  }

  .text-box {
    max-width: 100%;
    margin-inline: auto;
    text-align: center;
  }

  .image-box {
    margin: 2rem auto 0;
    width: 100%;
  }
}

 section{
  display: flex;
  justify-content: center;
  align-items: center;
 }


 /*images*/
  img {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
  /* slighly move up and grow transition for cards */
  .grow-card{
    transition: transform 0.4s ease  ;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) ;
  }
  .grow-card:hover {
    transform: translateY(-5px)  ;
    scale: 1.03;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.15);
  }

  /*foler adjustment*/
  @media (max-width: 580px){
    .folder-adjust {
    margin-left: 45%;
    margin-top: 170px;
  }
  }
  
   @media (min-width: 900px){
    .folder-adjust {
    margin-left: 100px;
    margin-top: 140px;
    }
  }
   @media (min-width: 100px){
    .folder-adjust {
    margin-left: 170px;
    margin-top: 140px;
    }
  }
  /*images on the home page*/
.heroimg {
  height: 100vh;
  width: 100dvw;
  object-fit: cover;
  opacity: 1;
  border-radius: 0;
}
.glass{
  backdrop-filter: rgba(2,2,2,0) ;
}
/* logo animation*/
.glow-logo {
  transition: 2s ease ;
}
.glow-logo:hover {
  box-shadow: 2px 4px 3px rgb(22, 203, 134);
}
.adjust-mobile-nav {
  width: 100dvw;
}

/*more text adgjust used in homepage*/

.big-text {
  font-size: 2.1rem;
}
@media (max-width:580){

.big-text {
  font-size: 1.2rem;
}
}
@media (min-width:900){
  .big-text {
  font-size: 1.6rem;
}
}
.widthadjust-gallery {
  width: 100%;
}
.add-visible-overflow {
  z-index: 1;
}
/*hidding scroll bar on explore page*/
.scroll-adjust {
  overflow-y: auto;
  scrollbar-width: thin;
}
/*fixing container to containe the image that is oversized by default*/
.object-fit-img-adjust {
  object-fit: contain;
}
.fade {
  opacity: 0.78;
}
.gsap-adjust-ani {
  color:red;
  scale: 2;
  transform: rotate(50);
}
.list-b {
  list-style: disc;
}
.color-gradient1 {
  background-image: linear-gradient(to bottom, rgb(45, 117, 66,1),rgb(40, 129, 74) , rgb(16, 122, 78));
}