@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-weight: bold;
  

}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    @apply max-sm:text-2xl max-md:text-3xl
}
.navitems {
    @apply transition-colors duration-300;

}
.navitems:hover {
    
}